<div class="table-responsive">
  <table class="table table-bordered table-hover manage-vms">
    <thead>
      <tr>
        <th>Manage</th>
        <th>Hostname</th>
        <th>IP</th>
        <th>RAM</th>
        <th>HDD</th>
        <th>CPUs</th>
        <th>OS</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.vms.each do |vm| %>
        <% xen = Xen::Slice.find(vm["hostname"]) %>
          <% if xen.running? %>
            <tr class="success">
          <% else %>
            <tr class="danger">
          <% end %>
            <td><a href="/vms/<%= vm["hostname"] %>"><button type="button" class="btn btn-default manage-button">Manage</button></a></td>
            <td><%= vm["hostname"] %></td>
            <td><%= vm["ip"] %></td>
            <td><%= vm["ram"] %>MB</td>
            <td><%= vm["hdd"] %>GB</td>
            <td><%= vm["cpu"] %></td>
            <td><%= vm["os"] %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
